.layout-container {
  position: relative;
}

.layout-info {
  position: absolute;
  top: 12vh;
  left: 4vw;
  .chart {
    width: 27vw;
    height: 15vh;
    background-color: red;
  }
}

.layout-age {
  position: absolute;
  top: 29vh;
  left: 4vw;
  .chart {
    width: 27vw;
    height: 40vh;
    background-color: pink;
  }
}

.layout-expect-life {
  position: absolute;
  top: 71vh;
  left: 4vw;
  .chart {
    width: 27vw;
    height: 24vh;
    background-color: skyblue;
  }
}

.layout-map {
  position: absolute;
  top: 12vh;
  left: 33vw;
  .chart {
    width: 35vw;
    height: 50vh;
    background-color: lightcoral;
  }
}

.layout-district {
  position: absolute;
  top: 64vh;
  left: 33vw;

  .chart {
    width: 35vw;
    height: 31vh;
    background-color: yellowgreen;
  }
}

.layout-table {
  position: absolute;
  top: 12vh;
  left: 70vw;

  .chart {
    width: 27vw;
    height: 41vh;
    background-color: powderblue;
  }
}

.layout-pie {
  position: absolute;
  top: 55vh;
  left: 70vw;

  .chart {
    width: 27vw;
    height: 40vh;
    background-color: white;
  }
}